Repository creditkudos/auth-sample-implementations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @creditkudos/go, @creditkudos/js, @creditkudos/devops

Add go ci config
  .circleci/config.yml
Owners: @creditkudos/devops

Add javascript implementation
  README.md
  javascript/app.js
  javascript/bin/www
  javascript/public/stylesheets/style.css
  javascript/routes/index.js
  javascript/views/error.jade
  javascript/views/index.jade
  javascript/views/layout.jade
  package-lock.json
  package.json
Owners: @creditkudos/js

Move package.json to correct directory
  javascript/package-lock.json
  javascript/package.json
Owners: @creditkudos/js

Add simple dockerfile
  javascript/Dockerfile
Owners: @creditkudos/js

Use environment variables for configuration
  README.md
  javascript/routes/index.js
Owners: @creditkudos/js

Update JS implementation to include state
  javascript/routes/index.js
Owners: @creditkudos/js

Add .circleci/config.yml
  .circleci/config.yml
Owners: @creditkudos/devops

Add js CI
  .circleci/config.yml
Owners: @creditkudos/devops

Add go tests, add framework dockerfile
  .circleci/config.yml
  go/Dockerfile
Owners: @creditkudos/devops, @creditkudos/js

Fix path
  .circleci/config.yml
Owners: @creditkudos/devops

Add go example implementation and ci
  .circleci/config.yml
  go/Dockerfile
  go/go.mod
  go/go.sum
  go/main.go
  go/views/error.pug
  go/views/index.pug
Owners: @creditkudos/devops, @creditkudos/js

Fix docker port, fix href
  go/Dockerfile
  go/main.go
  go/views/index.pug
Owners: @creditkudos/js

Renaming, using log, change port
  .circleci/config.yml
  go/Dockerfile
  go/main.go
Owners: @creditkudos/devops, @creditkudos/js

Fix Fatalf formatting directive
  go/main.go
Owners: @creditkudos/js

Use Href instead
  go/views/index.pug
Owners: @creditkudos/js

Add env vars
  javascript/Dockerfile
Owners: @creditkudos/js

Update readme
  README.md
Owners: @creditkudos/js

Rename golang state parameter
  go/main.go
Owners: @creditkudos/js

Update go to 1.17, add transitive deps and don't leak secrets
  go/Dockerfile
Owners: @creditkudos/js

Add MIT license
  LICENSE
Owners: @creditkudos/js

update example docker command to bind container to the `3000` port
  README.md
Owners: @creditkudos/js

Bump go JWT library
  go/go.mod
  go/go.sum
  go/main.go
Owners: @creditkudos/js

Bump required go version
  .circleci/config.yml
  go/go.mod
Owners: @creditkudos/devops, @creditkudos/js

add `/redirect/paseto` to golang implementation
  .gitignore
  go/Dockerfile
  go/main.go
Owners: @creditkudos/js

update JS `/redirect` to use encrypted customer tokens
  .gitignore
  javascript/package-lock.json
  javascript/package.json
  javascript/routes/index.js
Owners: @creditkudos/js

.github/CODEOWNERS:

* @creditkudos/go
* @creditkudos/js

/.circleci/             @creditkudos/devops
/.github/               @creditkudos/devops
